.cart{
	max-width: 450px;
	top: 49px;
	position: relative;
}
.cart_body{
	background-color: white;
}
.cart_sticky_part{
	position: sticky;
	top: 50px;
	background-color: #6f96f7;
	height: 40px;
}
.cart_sticky_header{
	height: 100%;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background-color: white;
}
.cart_item_quantity,
.cart_empty{
	display: flex;
	justify-content: space-between;
}
.cart_item_quantity{
	padding-top: 10px;
	margin: 0 50px;
}
.cart_empty{
	cursor: pointer;
}
.cart_checkout{
	max-width: 450px;
	width: 100%;
	height: 80px;
	background-color: white;
	display: flex;
	top: calc(100vh - 140px);
}
.cart_checkout_total{
	width: 50%;
	margin: 10px 20px;
}
.cart_checkout_total h2,
.cart_checkout_total p{
	margin: 5px;
}
.cart_checkout_total p{
	font-size: 12px;
}
.cart_checkout_btn{
	margin: auto;
	width: 50%;
}
.cart_checkout_btn div{
	background-color: red;
	height: 40px;
	width: 80%;
	border-radius: 20px;
	box-shadow: 0 0 10px 0 black;
	cursor: pointer;
}
.cart_checkout_btn div p{
	margin: auto;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}


/* CART HEADER */

.cart_header{
	background-color: #6f96f7;
}
.cart_header_name{
	display: flex;
	justify-content: space-between;
}
.cart_header_name{
	padding: 20px;
}
.list_name_input{
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	font-size: 24px;
	font-weight: 700;
	background-color: transparent;
}
.fa-Pen{
	font-size: 20px;
	cursor: pointer;
}


/* CART CARD */

.cart_card{
	display: flex;
	margin: 20px;
	border: 1px solid darkgray;
	border-radius: 6px;
	box-shadow: 0px 0px 9px 1px darkgrey;
}
.cart_card_img{
	margin: 10px 15px;
	width: 25%;
	height: auto;
}
.cart_card_img img{
	width: 100%;
}
.cart_card_item{
	display: flex;
	margin: 10px 0;
	flex-direction: column;
	justify-content: space-around;
}
.cart_card_unit_price{
	color: darkgray;
}
.cart_card_total_price{
	color: red;
	font-size: 20px;
}
.cart_card_unit{
	margin: auto 0;
	color: darkgray;
}
.cart_card_plus_minus_btn{
	height: auto;
	margin: auto 10px;
	border-radius: 6px;
	border: 1px solid black;
}
.cart_card_minus_btn{
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid; 
	cursor: pointer;
}
.cart_card_plus_btn{
	margin: 0;
	padding: 10px;
	border-top: 1px solid;
	cursor: pointer;
}