.space{
	flex: 1;
}
.hide{
	display: none;
}
.home{
	/* height: calc; */
	top: 0;
	position: relative;
}

		/* ONE HEADER */

.one_header{
	height: 270px;
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../data/images/FnV.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.infinite_header{
	display: flex;
	color: white;
	margin: auto 20px;
}
.search_input{
	height: 15px;
	margin-top: 17px;
}
.back_n_search{
	padding-top: 20px;
	cursor: pointer;
}
.one_header h1{
	text-align: center;
	color: white;
	top: 30%;
	transform: translate(0,-50%);
	position: relative;
}



		/* HEADER */

.header{
	position: fixed;
	max-width: 450px;
	width: 100%;
	top: 0;
	background-color: #6f96f7;
	height: 50px;
	z-index: 10;
}
.header_nav{
	display: flex;
	align-items: center;
	height: 100%;
}
.header_back{
	margin: auto 10px auto 20px;
	cursor: pointer;
}
.header_logo h2{
	margin: auto 10px;
	cursor: pointer;
}
.search_input{
	margin: 0;
}
.header_search{
	margin: auto 20px;
	cursor: pointer;
}



		/* FOOTER */

.footer{
	position: fixed;
  max-width: 450px;
	width: 100%;
	bottom: 0;
	background-color: white;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	box-shadow: 0 -2px 9px 2px lightgray;
}
.footer_icon{
	cursor: pointer;
}
.footer p{
	color: darkgrey;
	font-size: 10px;
	margin: 0;
}
.fa-icon{
	color: darkgrey;
	height: 20px !important;
	width: 20px !important;
}
.footer_active_icon{
	color: red !important;
}
