/* HEADER */

.header {
  /* position: fixed; */
  max-width: 450px;
  width: 100%;
  top: 0;
  background-color: #6f96f7;
  height: 50px;
  z-index: 1000;
}
.header_nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.header_back {
  margin: auto 10px auto 20px;
  cursor: pointer;
}
.header_logo h2 {
  margin: auto 10px;
  cursor: pointer;
}
.search_input {
  margin: 0;
}
.header_search {
  margin: auto 20px;
  cursor: pointer;
}