.App {
  max-width: 450px;
  margin: 0 auto;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
	box-shadow: 0px 0px 9px 2px darkgray;
  overflow: scroll;
  height: 100vh ;
}
.App::-webkit-scrollbar{
  width: 0;
  height: 0;
}