.App {
  max-width: 450px;
  margin: 0 auto;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  /* height: 100vh; */
	box-shadow: 0px 0px 9px 2px darkgray;
  overflow: scroll;
  height: calc(100vh - 60px);
}
.App::-webkit-scrollbar{
  width: 0;
  height: 0;
}
h1,h2,h3,h4,h5,p{
  margin: 0;
}
.space{
	flex: 1;
}
.hide{
	display: none;
}